  *{
    box-sizing: border-box;
 }
  
  .App {
    padding: 15px;
    margin: 10px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Resume {
    border: 1px solid black;
    height: 900px;
    width: 700px;
  
  }
  
  .Header {
    border: 1px solid #338078;
    height: 110px;
    background: #338078;
    color: white;
    text-align: center;
  }
  
  .Header h1{
    margin-top: 25px;
    margin-bottom: 1px;
    font-family: 'Times New Roman';
  }
  
  .Header p{
    font-size: larger;
    margin-top: 1px;
    font-family: 'Times New Roman';
  }
  
  .Content {
    display: flex;
    height: 787px;
  }
  
  /* Contact Area */
  .Contact {
    flex: 1;
    background: #f7f7f7;
    text-align: right;
    padding-right: 20px;
    padding-left: 0px;
  
  }
  
  .Contact h2{
    margin-bottom: 10px;
    font-size: 21px;
    font-family: 'Times New Roman';

  
  }
  
  .Contact p{
    margin: 1px;
    font-size: 13px;
  
  }


  /* Experience right side content  */

  .Experience {
    flex: 2;
    text-align: left;
    margin-left: 20px;
    margin-right: 38px;
    margin-top: 18px;
  }
  
  .Experience h1, .Experience h2, .Experience h3, .Experience h4{
    margin: 0;
    font-family: 'Times New Roman';
  }

  .Experience ul{
    margin-bottom: 14px;
    margin-top: 1px;
    font-size: 13px;
  }
  .Experience h1{
    font-size: 21px;
    margin-bottom: 5px;
  }
  
  .Experience h2{
    font-weight: normal;
    font-size: 21px;
  }

  .Experience h3{
    font-weight: normal;
    font-size: 16px;
  }

  /* Icons */
  .icon {
  font-size: small;
  margin: 0;
  color: #c6c7c8;
  margin-left: 4px;
}

/* link */
  .link {
    color: #3b98fd;
  }